<div class="title-wrapper">
    <div class="container">
        <div class="container-inner">
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="">商店</a></li>
            <li class="active">蔬菜超市</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-5">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix dropdown"
                        ng-repeat="value in menus  | filter : {prentId:0}:true | orderBy: '-id'">
                        <a href="javascript:void(0);" handle-sidebar-menu>
                            <i class="fa fa-angle-right"></i>
                            {{value.name}}
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="list-group-item dropdown clearfix"
                                ng-repeat="child in menus | filter : {prentId:value.id} :true">
                                <a href="javascript:void(0);" ng-click="findByDept(child.id)" handle-sidebar-menu><i
                                        class="fa fa-circle"></i>
                                    {{child.name}} </a>
                                <ul class="dropdown-menu">
                                    <li class="list-group-item dropdown clearfix">

                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
                <!-- BEGIN PRODUCT LIST -->
                <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-4 col-sm-6 col-xs-6"
                         ng-repeat="item in goodses._embedded.goodses track by $index ">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img ng-src="/goods/img/0{{item.goodsId}}.jpg" class="img-responsive"
                                     alt="{{item.name}}">
                            </div>
                            <h3>{{item.name.trim()}}</h3>
                            <a ng-show="!item.favorited" href="#" ng-click="addFavorites(item)"
                               class="btn btn-default add2favorites">
                                <i class="glyphicon glyphicon-star-empty"></i>收藏</a>
                            <span ng-show="item.favorited" ng-click="deleteFavorites(item)"
                                  class="btn btn-default yet1favorites">
                                <i class="glyphicon glyphicon-star"></i>已收藏</span>
                            <div class="pi-price"><strong>{{item.price |currency:"￥"}}</strong></div>
                            <div class="text-right">
                                <p><span class="label label-primary">{{item.spec}}</span>*<span
                                        class="label label-success">{{item.unitName}}</span></p>
                            </div>
                            <input type="text"  class="form-control input-sm" maxlength="4"
                                   ng-model="item.qty" init-touchspin-home>
                            <a href="#" ng-click="addCart(item)" class="btn btn-default add2cart">加入进货单</a>
                        </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                </div>
                <!-- END PRODUCT LIST -->
                <!-- BEGIN PAGINATOR -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 items-info">宝贝{{goodses.page.number*goodses.page.size+1}} 到
                        {{goodses.page.size*goodses.page.number+goodses.page.size}}
                        ,总共{{goodses.page.totalElements}}个宝贝
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <ul class="pagination pull-right">
                            <li><a href="#" ng-click="pageNext(goodses._links.first.href)" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                            </li>
                            <li><a href="#" ng-click="pageNext(goodses._links.prev.href)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li class="disabled"><a>当前第{{goodses.page.number+1}}页,总共{{goodses.page.totalPages}}</a></li>
                            <li><a href="#" ng-click="pageNext(goodses._links.next.href)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                            <li><a href="#" ng-click="pageNext(goodses._links.last.href)" aria-label="Previous">
                                <span aria-hidden="true">尾页</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END PAGINATOR -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

