<!DOCTYPE html>
<html lang="zh-cn" ng-app="bMall">
<head>
    <meta charset="utf-8">
    <title>米禾商城</title>
    <base href="/">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/favicon.ico" rel="SHORTCUT ICON" type="image/ico">


    <!-- Global styles START -->
    <link href="webjarslocator/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="webjarslocator/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="assets/plugins/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--<link href="assets/css/custom.css" rel="stylesheet" type="text/css">
     Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body ng-controller="initCtrl" class="modal-open">
<div ng-controller="navigation">
    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">

                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li ng-show="authenticated()">欢迎登陆系统&nbsp<span
                                class="text-primary">{{user.customer.name}}</span>
                        </li>
                        <li ng-show="authenticated()">登陆ID:<span class="text-success">{{user.customer.id}}</span></li>
                        <li ng-show="authenticated()"><a ng-click="logout()">注销</a></li>
                        <li ng-show="!authenticated()"><a href="/login">登陆</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div role="navigation" class="navbar header no-margin">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="assets/img/logo_red.png" alt="Metronic Shop UI"></a>
                <!-- LOGO -->
            </div>

            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="value in menus | filter : {prentId:0} :true |orderBy: '-id'">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false"
                           href="javascript:void(0);">
                            {{value.name}}
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <!-- BEGIN DROPDOWN MENU -->
                        <ul class="dropdown-menu" aria-labelledby="mega-menu">
                            <li>
                                <div class="nav-content">
                                    <!-- BEGIN DROPDOWN MENU - COLUMN -->
                                    <div class="nav-content-col"
                                         ng-repeat="child in menus | filter : {prentId:value.id}:true">
                                        <h3><a class="dropdown-toggle" ng-href="/home/{{child.id}}">
                                            {{child.name}}
                                        </a></h3>
                                    </div>
                                    <!-- END DROPDOWN MENU - COLUMN -->
                                    <!-- BEGIN DROPDOWN MENU - BRANDS -->
                                    <div class="nav-brands">
                                        <ul>
                                            <li><a href="product-list.html"><img title="esprit" alt="esprit"
                                                                                 src="assets/temp/brands/esprit.jpg"></a>
                                            </li>
                                            <li><a href="product-list.html"><img title="gap" alt="gap"
                                                                                 src="assets/temp/brands/gap.jpg"></a>
                                            </li>
                                            <li><a href="product-list.html"><img title="next" alt="next"
                                                                                 src="assets/temp/brands/next.jpg"></a>
                                            </li>
                                            <li><a href="product-list.html"><img title="puma" alt="puma"
                                                                                 src="assets/temp/brands/puma.jpg"></a>
                                            </li>
                                            <li><a href="product-list.html"><img title="zara" alt="zara"
                                                                                 src="assets/temp/brands/zara.jpg"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END DROPDOWN MENU - BRANDS -->
                                </div>
                            </li>
                        </ul>
                        <!-- END DROPDOWN MENU -->
                    </li>
                </ul>
                <form action="#" class="navbar-form navbar-left" ng-show="authenticated()">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control" ng-model="goodsName">
                    <span class="input-group-btn">
                                        <a class="btn btn-primary" ng-href="/home?name={{goodsName}}">搜索</a>
                    </span>
                    </div>
                </form>
                <div class="nav navbar-nav navbar-right cart-block">
                    <div class="cart-info">
                        <a href="/shopping" class="cart-info-count">{{cart.length}}</a>
                        <a href="/shopping" class="cart-info-value">{{getTotal()}}</a>
                    </div>
                    <a href="/shopping"><i class="fa fa-shopping-cart"></i></a>
                    <!-- BEGIN CART CONTENT -->
                    <div class="cart-content-wrapper">
                        <div class="cart-content">
                            <ul class="scroller" style="height: 250px;">
                                <li ng-repeat="item in cart track by $index">
                                    <strong><a href="/goods/{{item.id}}">{{item.name}}</a></strong>
                                    <span class="cart-content-count">x {{item.qty}}</span>
                                    <span>{{item.unitName}}</span>
                                    <em>￥{{item.price*item.qty}}</em>
                                    <a href="javascript:void(0);" class="del-goods" ng-click="removeGoods(item.$index)"><i
                                            class="fa fa-times"></i></a>
                                </li>

                            </ul>
                            <div class="text-right">
                                <!--<a href="shopping-cart.html" class="btn btn-default">详细</a>-->
                                <a href="/shopping" class="btn btn-primary">确认</a>
                            </div>
                        </div>
                    </div>
                    <!-- END CART CONTENT -->
                </div>
            </div>

        </div>
    </div>
    <!-- END HEADER -->
</div>
<div ng-view></div>


<!-- BEGIN BRANDS -->
<div class="brands hidden">
    <div class="container">
        <div class="row">
            <div class="bxslider-wrapper">
                <ul class="bxslider" data-slides-phone="1" data-slides-tablet="3"
                    data-slides-desktop="6" data-slide-margin="6" init-bx-slider>
                    <li><a href="product-list.html"><img src="assets/temp/brands/canon.jpg" alt="canon"
                                                         title="canon"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/esprit.jpg" alt="esprit"
                                                         title="esprit"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/gap.jpg" alt="gap" title="gap"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/next.jpg" alt="next" title="next"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/puma.jpg" alt="puma" title="puma"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/zara.jpg" alt="zara" title="zara"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/canon.jpg" alt="canon"
                                                         title="canon"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/esprit.jpg" alt="esprit"
                                                         title="esprit"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/gap.jpg" alt="gap" title="gap"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/next.jpg" alt="next" title="next"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/puma.jpg" alt="puma" title="puma"></a>
                    </li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/zara.jpg" alt="zara" title="zara"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END BRANDS -->

<!-- BEGIN STEPS -->
<div class="steps3 steps3red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps3-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>快速送货</h2>
                    <em>3天到货</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps3-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>每日礼品</h2>
                    <em>每日幸运顾客3名</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps3-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>029-84116245</h2>
                    <em>7*24小时的客户服务提供</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2><a href="/about">关于我们</a></h2>
                    </div>
            <!-- END BOTTOM ABOUT BLOCK -->

            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>联系我们</h2>
                <address class="margin-bottom-40">
                    西安市昆明路西段380号<br>
                    西部欣桥农产品物流中心3号门<br>
                    电话: 18681898092<br>
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer padding-top-15">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10 bottom-l">
                2015年©陕西米禾商店界面。保留所有权利。
            </div>
            <!-- END COPYRIGHT -->

        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div class="modal" tabindex="-1000" data-loading>
    <div class="modal-dialog">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span>加载中...</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END fast view of a product -->

<!-- Load javascripts at bottom, this will reduce page load time -->

<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<script type="text/javascript" src="webjarslocator/jquery/jquery.min.js"></script>
<script type="text/javascript" src="webjarslocator/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjarslocator/momentjs/min/moment.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN APP SCRIPT -->
<script type="text/javascript" src="js/app/bmall-service.js"></script>
<script type="text/javascript" src="js/app/auth.js"></script>
<script type="text/javascript" src="js/app/navigation.js"></script>
<script type="text/javascript" src="js/app/home.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- END APP SCRIPT -->

<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>