<!DOCTYPE html>
<html lang="zh-cn" ng-app="bMall">
<head>
    <meta charset="utf-8">
    <title>米禾美食之源-集配平台</title>
    <base href="/">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/favicon.ico" rel="SHORTCUT ICON" type="image/ico">
    <!-- Global styles START -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <!-- Global styles END -->
    <!-- Page level plugin styles START -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/css/messenger.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/css/messenger-theme-future.min.css"
          rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles START -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--<link href="assets/css/custom.css" rel="stylesheet" type="text/css">Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body ng-controller="initCtrl" class="modal-open">
<div ng-controller="navigation">
    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">

                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li ng-show="authenticated()">欢迎登陆系统&nbsp<span
                                class="text-primary">{{user.customer.name}}</span>
                        </li>
                        <li ng-show="authenticated()" class="m_hide">登陆ID:<span class="text-success">{{user.customer.id}}</span>
                        </li>
                        <li ng-show="authenticated()"><a href="/changepwd">修改密码</a></li>
                        <li ng-show="authenticated()" class="m_noborder"><a ng-click="logout()">注销</a></li>
                        <li ng-show="!authenticated()"><a href="/login">登陆</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->
    <!--start rigth-->
    <div class="navbar-fixed-right" ng-show="authenticated()">
        <div class="shopping-a-fixed"><a href="/shopping"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></div>
        <div class="favorites-a-fixed"><a href="/favorites"><i class="glyphicon glyphicon-star"></i>收藏夹</a></div>
        <div class="top-a-fixed"><a href="javascript:scroll(0,0)"><i class="glyphicon glyphicon-circle-arrow-up"></i>返回顶部</a>
        </div>
    </div>
    <!-- BEGIN HEADER -->
    <div role="navigation" class="navbar header no-margin">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="assets/img/logo_red.png" alt="Metronic Shop UI"></a>
                <!-- LOGO -->
            </div>
            <div class="cart-block">
                <div class="cart-info">
                    <a href="/shopping">{{getTotal()}}</a>
                </div>
                <a href="/shopping" class="m_hide"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                <a href="/m_shopping" class="hide m_show"><i class="glyphicon glyphicon-shopping-cart"></i></a>
            </div>
            <div class="favorites-block" ng-show="authenticated()">
                <div class="cart-info">
                    <a href="/favorites">收藏夹</a>
                </div>
                <a href="/favorites" class="m_hide"><i class="glyphicon glyphicon-star"></i></a>
                <a href="/m_favorites" class="hide m_show"><i class="glyphicon glyphicon-star"></i></a>
            </div>
            <div class="collapse navbar-collapse mega-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="value in menus | filter : {prentId:0} :true |orderBy: '-id'">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false"
                           href="javascript:void(0);">
                            {{value.name}}
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <!-- BEGIN DROPDOWN MENU -->
                        <ul class="dropdown-menu" aria-labelledby="mega-menu">
                            <li>
                                <div class="nav-content">
                                    <!-- BEGIN DROPDOWN MENU - COLUMN -->
                                    <div class="nav-content-col"
                                         ng-repeat="child in menus | filter : {prentId:value.id}:true">
                                        <h3><a class="dropdown-toggle" ng-href="/home/{{child.id}}">
                                            {{child.name}}
                                        </a></h3>
                                    </div>
                                    <!-- END DROPDOWN MENU - COLUMN -->
                                    <!-- BEGIN DROPDOWN MENU - BRANDS -->
                                    <div class="nav-brands">

                                    </div>
                                    <!-- END DROPDOWN MENU - BRANDS -->
                                </div>
                            </li>
                        </ul>
                        <!-- END DROPDOWN MENU -->
                    </li>
                </ul>
                <form action="#" class="navbar-form navbar-left" ng-show="authenticated()">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control" ng-model="goodsName">
                    <span class="input-group-btn">
                                        <a class="btn btn-primary" ng-href="/home?name={{goodsName}}">搜索</a>
                    </span>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <!-- END HEADER -->
</div>
<div ng-view></div>

<div class="navbar-fixed-bottom">
    <div class="m_hide">
        <img src="assets/img/footer.jpg" class="img-responsive" alt="Responsive image"/>
    </div>
    <!-- BEGIN FOOTER -->
    <div class="footer padding-top-15">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10 bottom-l">
                    2016年©陕西米禾商店界面。保留所有权利。
                </div>
                <!-- END COPYRIGHT -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
</div>


<!-- BEGIN fast view of a product -->
<div class="modal" tabindex="-1000" data-loading>
    <div class="modal-dialog">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="min-width: 30rem;width: 100%;">
                <span>加载中...</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-resource.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-messages.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/i18n/angular-locale_zh-cn.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger-theme-future.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/zh-cn.js"></script>
<script type="text/javascript" src="js/app/bmall-service.js"></script>
<script type="text/javascript" src="js/app/auth.js"></script>
<script type="text/javascript" src="js/app/navigation.js"></script>
<script type="text/javascript" src="js/app/home.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- END APP SCRIPT -->

<div class="cus-menu">
    <ul class="nav navbar-nav">
        <li class="" ng-repeat="value in menus | filter : {prentId:0} :true |orderBy: '-id'">
            <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false"
               href="javascript:void(0);">
                {{value.name}}
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="mega-menu">
                <li>
                    <div class="nav-content">
                        <div class="nav-content-col"
                             ng-repeat="child in menus | filter : {prentId:value.id}:true">
                            <h3><a class="dropdown-toggle cus-item" ng-href="/home/{{child.id}}">
                                {{child.name}}
                            </a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<script>
    var leftShow = 0;
    $("body").swipe({
        swipeRight: function (event, direction, distance, duration, fingerCount, fingerData, currentDirection) {
            showLeftNav();
        },
        swipeLeft: function (event, direction, distance, duration, fingerCount, fingerData, currentDirection) {
            hideLeftNav();
        },
        threshold: 0
    });
    function andBack() {
        if (leftShow == 1)
            hideLeftNav();
        else
            window.history.go(-1);
    }
    $('.cus-menu').on('tap', function () {
        var obj = $(event.target.innerHTML);
        if (obj.hasClass('navbar-nav') || obj.hasClass('cus-item'))
            hideLeftNav();
    });
    function hideLeftNav() {
        $('.cus-menu').fadeOut();
        leftShow = 0;
    }
    function showLeftNav() {
        if ('none' != $('.modal').css('display'))
            return;
        $('html,body').animate({scrollTop: '0px'}, 800);
        var h = document.body.clientHeight;
        $('.cus-menu').css('width', document.body.clientWidth);
        $('.cus-menu').css('height', h);
        $('.cus-menu > .nav').css('height', h);
        $('.cus-menu').fadeIn('slow', function () {
        });
        leftShow = 1;
    }
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
