<!DOCTYPE html>
<html lang="zh-cn" ng-app="bMall">
<head>
    <meta charset="utf-8">
    <title>米禾商城</title>
    <base href="/">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/favicon.ico" rel="SHORTCUT ICON" type="image/ico">


    <!-- Global styles START -->
    <link href="webjarslocator/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="webjarslocator/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="assets/plugins/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--<link href="assets/css/custom.css" rel="stylesheet" type="text/css">
     Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body ng-controller="initCtrl" class="modal-open">
<!-- BEGIN TOP BAR -->
<div class="pre-header" ng-controller="navigation">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
             
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li>欢迎登陆系统&nbsp<span class="text-primary">{{user.customer.name}}</span></li>
                    <li>登陆ID:<span class="text-success">{{user.customer.id}}</span></li>
                    <li ng-show="authenticated()"><a ng-click="logout()">注销</a></li>
                    <li ng-show="!authenticated()"><a href="/login">登陆</a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>
<!-- END TOP BAR -->

<!-- BEGIN HEADER -->
<div role="navigation" class="navbar header no-margin">
    <div class="container">
        <div class="navbar-header">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <a href="/" class="navbar-brand"><img src="assets/img/logo_red.png" alt="Metronic Shop UI"></a><!-- LOGO -->

        </div>
        <!-- BEGIN CART -->
        <div class="cart-block">
            <div class="cart-info">
                <a href="/shopping" class="cart-info-count">{{cart.length}}</a>
                <a href="/shopping" class="cart-info-value">{{getTotal()}}</a>
            </div>
            <a href="/shopping"><i class="fa fa-shopping-cart"></i></a>
            <!-- BEGIN CART CONTENT -->
            <div class="cart-content-wrapper">
                <div class="cart-content">
                    <ul class="scroller" style="height: 250px;">
                        <li ng-repeat="item in cart track by $index">
                            <strong><a href="/goods/{{item.id}}">{{item.name}}</a></strong>
                            <span class="cart-content-count">x {{item.qty}}</span>
                            <span>{{item.unitName}}</span>
                            <em>￥{{item.price*item.qty}}</em>
                            <a href="javascript:void(0);" class="del-goods" ng-click="removeGoods(item.$index)"><i
                                    class="fa fa-times"></i></a>
                        </li>

                    </ul>
                    <div class="text-right">
                        <!--<a href="shopping-cart.html" class="btn btn-default">详细</a>-->
                        <a href="/shopping" class="btn btn-primary">确认</a>
                    </div>
                </div>
            </div>
            <!-- END CART CONTENT -->
        </div>
        <!-- END CART -->
        <!-- BEGIN NAVIGATION -->
        <div class="collapse navbar-collapse mega-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-repeat="value in menus | filter : {prentId:0} :true |orderBy: '-id'">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false"
                       href="javascript:void(0);">
                        {{value.name}}
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <!-- BEGIN DROPDOWN MENU -->
                    <ul class="dropdown-menu" aria-labelledby="mega-menu">
                        <li>
                            <div class="nav-content">
                                <!-- BEGIN DROPDOWN MENU - COLUMN -->
                                <div class="nav-content-col"
                                     ng-repeat="child in menus | filter : {prentId:value.id}:true">
                                    <h3><a class="dropdown-toggle"  ng-href="/home/{{child.id}}">
                                        {{child.name}}
                                    </a></h3>
                                </div>
                                <!-- END DROPDOWN MENU - COLUMN -->
                                <!-- BEGIN DROPDOWN MENU - BRANDS -->
                                <div class="nav-brands">
                                    <ul>
                                        <li><a href="product-list.html"><img title="esprit" alt="esprit"
                                                                             src="assets/temp/brands/esprit.jpg"></a>
                                        </li>
                                        <li><a href="product-list.html"><img title="gap" alt="gap"
                                                                             src="assets/temp/brands/gap.jpg"></a></li>
                                        <li><a href="product-list.html"><img title="next" alt="next"
                                                                             src="assets/temp/brands/next.jpg"></a></li>
                                        <li><a href="product-list.html"><img title="puma" alt="puma"
                                                                             src="assets/temp/brands/puma.jpg"></a></li>
                                        <li><a href="product-list.html"><img title="zara" alt="zara"
                                                                             src="assets/temp/brands/zara.jpg"></a></li>
                                    </ul>
                                </div>
                                <!-- END DROPDOWN MENU - BRANDS -->
                            </div>
                        </li>
                    </ul>
                    <!-- END DROPDOWN MENU -->
                </li>
                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span></li>
                <li class="menu-search">

                    <form action="#" class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control" ng-model="goodsName">
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" ng-href="/home?name={{goodsName}}">搜索
                                        </a>
                                    </span>
                        </div>
                    </form>

                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- END HEADER -->

<div ng-view></div>


<!-- BEGIN BRANDS -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="bxslider-wrapper">
                <ul class="bxslider" data-slides-phone="1" data-slides-tablet="3"
                    data-slides-desktop="6" data-slide-margin="6" init-bx-slider>
                    <li><a href="product-list.html"><img src="assets/temp/brands/canon.jpg" alt="canon" title="canon"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/esprit.jpg" alt="esprit" title="esprit"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/gap.jpg" alt="gap" title="gap"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/next.jpg" alt="next" title="next"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/puma.jpg" alt="puma" title="puma"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/zara.jpg" alt="zara" title="zara"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/canon.jpg" alt="canon" title="canon"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/esprit.jpg" alt="esprit" title="esprit"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/gap.jpg" alt="gap" title="gap"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/next.jpg" alt="next" title="next"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/puma.jpg" alt="puma" title="puma"></a></li>
                    <li><a href="product-list.html"><img src="assets/temp/brands/zara.jpg" alt="zara" title="zara"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END BRANDS -->

<!-- BEGIN STEPS -->
<div class="steps3 steps3red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps3-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>快速送货</h2>
                    <em>3天到货</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps3-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>每日礼品</h2>
                    <em>每日幸运顾客3名</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps3-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>029-84116245</h2>
                    <em>7*24小时的客户服务提供</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2><a href="/about">关于我们</a></h2>
                <p>陕西米禾供应链管理股份有限公司成立于2015年，由十余家食材行业领军企业组建而成。
                    公司集食材批发、加工、分拣、分装、配送、冷链仓储、物流服务、电商交易平台、连锁超市、产业配套于一体。
                    主要从事“生鲜食材+互联网平台+校企、部队餐厅/厨房食材/社区超市”的业务运营，包括线下传统业务、线上展示交易、全程冷链配送，
                    B2B/B2C等运营模式。以实体销售+互联网营销的方式，实现农产品质量源头追溯，全程冷链运输监控，
                    确保食品安全。优化食材供应链管理，实现互联网和物联网的有机结合。打造国内一流的农产品流通产业链的综合交易运营服务平台。</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM INFO BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>支付信息</h2>
                <ul class="list-unstyled">
                    <li><i class="fa fa-angle-right"></i> <a href="#">信用卡</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="#">货到付款</a></li>
                </ul>
            </div>
            <!-- END INFO BLOCK -->
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <dl class="dl-horizontal f-twitter">
                    <h2>会员办理</h2>
                    <p>
                        1、持有米禾.美食之源会员卡的专业客户才能够进入陕西米禾美食之源集配平台采购。
                        2、为企事业单位、学校、连锁餐饮、酒店、部队、中小型零售批发商、电商客户量身打造各种食材采配方案。
                        3、减少环节、缩减成本、降低风险、创造利润。
                    </p>
                </dl>
                <ul class="list-unstyled">

                </ul>
            </div>
            <!-- END TWITTER BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>联系我们</h2>
                <address class="margin-bottom-40">
                    西安市昆明路西段380号<br>
                    西部欣桥农产品物流中心3号门<br>
                    电话: 18681898092<br>
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer padding-top-15">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                2015年©陕西米禾商店界面。保留所有权利。
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-6 col-sm-6">
                <ul class="list-unstyled list-inline pull-right margin-bottom-15">
                    <li><img src="assets/img/payments/western-union.jpg" alt="We accept Western Union"
                             title="We accept Western Union"></li>
                    <li><img src="assets/img/payments/american-express.jpg" alt="We accept American Express"
                             title="We accept American Express"></li>
                    <li><img src="assets/img/payments/MasterCard.jpg" alt="We accept MasterCard"
                             title="We accept MasterCard"></li>
                    <li><img src="assets/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
                    <li><img src="assets/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div class="modal" tabindex="-1000" data-loading>
    <div class="modal-dialog">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span>加载中...</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END fast view of a product -->

<!-- Load javascripts at bottom, this will reduce page load time -->

<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<script type="text/javascript" src="webjarslocator/jquery/jquery.min.js"></script>
<script type="text/javascript" src="webjarslocator/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjarslocator/momentjs/min/moment.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="webjarslocator/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN APP SCRIPT -->
<script type="text/javascript" src="js/app/bmall-service.js"></script>
<script type="text/javascript" src="js/app/auth.js"></script>
<script type="text/javascript" src="js/app/navigation.js"></script>
<script type="text/javascript" src="js/app/home.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- END APP SCRIPT -->

<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>