<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>购物车</h1>
                <div class="shopping-cart-page">
                    <div class="shopping-cart-data clearfix">
                        <div class="table-wrapper-responsive">
                            <table summary="Shopping cart">
                                <tr>
                                    <th class="shopping-cart-description">商品信息</th>
                                    <th class="shopping-cart-price">单价(元)</th>
                                    <th class="shopping-cart-quantity">数量</th>
                                    <th class="shopping-cart-total" colspan="2">小计(元)</th>
                                </tr>
                                <tr ng-repeat="item in cart">
                                    <td class="shopping-cart-description">
                                        <h3><a href="/goods/{{item.id}}">{{item.name}}</a></h3>
                                        <div class="text-right">
                                            <p><span  class="label label-primary">{{item.ospec}}</span></p>
                                        </div>
                                    </td>

                                    <td class="shopping-cart-price">
                                        <strong><span>{{item.price}}</span></strong>
                                    </td>
                                    <td class="shopping-cart-quantity">
                                        <div class="product-quantity">
                                            <input id="product-quantity" type="text" value="1"
                                                   class="form-control input-sm" ng-model="item.qty" init-touchspin>
                                        </div>
                                    </td>
                                    <td class="shopping-cart-total">
                                        <strong><span>{{item.qty*item.price}}</span></strong>
                                    </td>
                                    <td class="del-goods-col">
                                        <a class="del-goods" href="#" ng-click="removeGoods(item.$index)"><i
                                                class="fa fa-times"></i></a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="form-group has-success has-feedback">
                            <label class="control-label sr-only" >备注</label>
                            <div class="input-group">
                                <span class="input-group-addon">备注</span>
                                <input type="text" class="form-control" ng-model="purchase.note"  aria-describedby="inputGroupSuccess4Status">
                            </div>
                        </div>
                        <div class="shopping-total">
                            <ul>
                                <li>
                                    <em>合计</em>
                                    <strong class="price"><span></span>{{getTotal()}}</strong>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <a class="btn btn-default" href="/">继续购物<i class="fa fa-shopping-cart"></i></a>
                    <button class="btn btn-primary" type="submit" ng-click="putPurchase()">确认订单<i
                            class="fa fa-check"></i></button>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <!-- BEGIN SIMILAR PRODUCTS -->

        <!-- END SIMILAR PRODUCTS -->
    </div>
</div>

